/*
COLORS
teal snake swiper: rgba(91, 199, 210, 1);
tic toc toe: rgba(52, 52, 51, 1);
tap dat dot: rgba(42, 182, 117, 1);
*/
@import url('https://fonts.googleapis.com/css?family=Modak');

html, body, .block {
    height: 100%;
}

.pin-top {
  position: relative;
}

.pin-bottom {
    position: relative;
}

.pinned {
    position: fixed !important;
    z-index: 10;
}

.home-content {
  display: flex;
}

nav ul li a:hover, nav ul li a.active {
  background-color: rgba(0,0,0,.1);
}

footer {
  padding-left: 0;
}
#download-app-button {
  width: 10em;
  transition: 1s;
}
#download-app-button:hover {
  width: 9em;
}
.top-logo {
  width:45px;
  border-radius: 20%;
  display: inline-block;
  margin: 5px;
  padding: 0px;
}

.row {
  padding: 20px;
  margin: 20px;
}

.connecting img {
  width: 60px;
  height: 60px;
  padding: 10px;
}
.connecting p {
  display: inline-block;
}
.snake-swiper-color {
  background-color: rgba(91, 199, 210, 1);
}
.snake-swiper-color-light {
  background-color: rgba(91, 199, 210, 0.7);
}
.tic-toc-toe-color {
  background-color: rgba(52, 52, 51, 1);
}
.tic-toc-toe-color-light {
  background-color: rgba(52, 52, 51, 0.7);
}
.tap-dat-dot-color {
  background-color: rgba(42, 182, 117, 1);
}
.tap-dat-dot-color-light {
  background-color: rgba(42, 182, 117, 0.7);
}
.main-title {
  font-family: 'Modak', cursive;
  font-size: 5rem;
  display: inline-block;
  color: rgba(91, 199, 210, 1);
}
.flip-container {
  position: relative;
  display: inline-block;
}
.flipper {
  display: block;
  position: relative;
}
.flip-container.hover .back {
  transform: perspective(800px) rotateX(0);
}
.flip-container.hover .front {
  transform: perspective(800px) rotateX(-179.9deg);
}
.back, .front {
  display: block;
  position: absolute;
  top: 0; 
  left: 0; 
  white-space: nowrap;
  transition: 1.5s ease-in-out;
  font-family: 'Modak', cursive;
}
.back {
  backface-visibility: hidden;
  transform: perspective(800px) rotateX(180deg);
  color: rgba(91, 199, 210, 1);
}
.front {
  backface-visibility: hidden;
  transform: perspective(800px) rotateX(0deg);
  color: rgba(42, 182, 117, 1);
}
.modak-font {
  font-family: 'Modak', cursive;
} 
.home-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d8d8d8+25,bababa+60,7a7a7a+100 */
  background: #ffffff; /* Old browsers */
  background: -webkit-linear-gradient(bottom left, #ffffff 0%, #d8d8d8 25%, #bababa 60%, #7a7a7a 100%);
  background: -moz-linear-gradient(bottom left, #ffffff 0%, #d8d8d8 25%, #bababa 60%, #7a7a7a 100%);
  background: -o-linear-gradient(bottom left, #ffffff 0%, #d8d8d8 25%, #bababa 60%, #7a7a7a 100%);
  background: linear-gradient(to top right, #ffffff 0%, #d8d8d8 25%, #bababa 60%, #7a7a7a 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#7a7a7a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}  
.grey-color {
  background-color: #BABABA;
}
.home-landing-container {
  display: flex;
  justify-content: center;
}
.home-landing {
  flex-direction: column;  
}
.large-img {
  width:200px 15%;
}
/* @media only screen and (min-width: 600px) {
  .main-title, .back, .front .flip-container, .hover {
    font-size: 2rem;
    transform: perspective(300px);
  }
} */