html, body, .block {
    height: 100%;
}

.pin-top {
  position: relative;
}

.pin-bottom {
    position: relative;
}

.pinned {
    position: fixed !important;
    z-index: 10;
}
#main-logo {
  width: 90%;
}
nav ul li a:hover, nav ul li a.active {
  background-color: rgba(0,0,0,.1);
}

footer {
  padding-left: 0;
}
#download-app-button {
  width: 10em;
  transition: 1s;
}
#download-app-button:hover {
  width: 9em;
}
.top-logo {
  width:45px;
  border-radius: 20%;
  display: inline-block;
  margin: 5px;
  padding: 0px;
}

.row {
  padding: 10px;
  margin: 10px;
}

.textt {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

.animated-p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.animateWord {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}